<template>
  <div>
    <div
      class='questionContainer row items-center'
      v-if="!isLoading"
    >
      <div class="col-12 row justify-center q-pa-xs-md">
        <div
          class='col-12 text-h3 text-white q-pt-xl desktop-only q-py-xl'
          align="center"
        >
          แบบประเมินความพึงพอใจระบบ Winner English
        </div>
        <div
          class='col-12  text-h5 text-white q-pt-xl mobile-only q-py-xl'
          align="center"
        >
          แบบประเมินความพึงพอใจระบบ Winner English
        </div>
        <div
          class='col-lg-8 col-xs-12 text-black q-pa-md-xl q-px-xs-md q-pt-xs-md bg-grey-2 '
          style="border-radius:10px"
        >
          <!-- question -->
          <div class='text-h4 desktop-only'>
            {{ currentQuestion + 1 }}). {{ question[currentQuestion].question }}
          </div>
          <div
            class="mobile-only"
            style="font-size:16px"
          >
            {{ currentQuestion + 1 }}). {{ question[currentQuestion].question }}
          </div>
          <!-- Answer -->
          <div class='row justify-between text-h6 q-pa-md-lg q-pa-xs-md'>
            <div
              class=' col-md-2 col-xs-6 q-my-sm'
              v-for="(item,index) in answer"
              :key="index"
              align="center"
            >
              <q-btn
                flat
                class="full-width"
                @click="sendAnswer(index+1)"
              >
                <div
                  align="center"
                  class="desktop-only"
                >
                  <q-img
                    style="width:80px"
                    :src="'../statics/' + (index+1) + '.png' "
                  ></q-img>
                  <div
                    class='q-pt-sm text-h5'
                    align="center"
                  >
                    {{ item }}
                  </div>
                </div>
                <div
                  align="center"
                  class="mobile-only"
                >
                  <q-img
                    style="width:60px"
                    :src="'../statics/' + (index+1) + '.png' "
                  ></q-img>
                  <div
                    class='q-pt-sm '
                    align="center"
                  >
                    {{ item }}
                  </div>
                </div>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      question: [],
      currentQuestion: 0,
      answer: ["ชอบมากที่สุด", "ชอบมาก", "ชอบ", "เฉยๆ", "ไม่ชอบ"],
      userKey: this.$q.localStorage.getItem("studentKey"),
      academicYear: this.$q.localStorage
        .getItem("academicYear")
        .replace("/", "-"),
      isLoading: true,
      schoolId: this.$q.localStorage.getItem("schoolId")
    };
  },
  methods: {
    loadQuestion() {
      this.$q.loading.show();
      // let newAcademicYear = this.academicYear.replace("/", "-");

      db.collection("questionaire")
        .where("academicYear", "==", this.academicYear)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(element => {
              if (element.exists) {
                let dataKey = {
                  key: element.id
                };
                let dataFinal = {
                  ...dataKey,
                  ...element.data()
                };
                this.question.push(dataFinal);
              }
            });

            this.question.sort((a, b) => {
              return a.order - b.order;
            });

            this.loadCurrentQuestion();
          }
        });
    },
    loadCurrentQuestion() {
      // let newAcademicYear = this.academicYear.replace("/", "-");
      let docName = this.schoolId + "-" + this.academicYear;
      db.collection("questionnaireScore")
        .doc(docName)
        .collection("score")
        .doc(this.userKey)
        .get()
        .then(doc => {
          if (doc.exists) {
            this.currentQuestion = doc.data().currentQuestion;
            this.isLoading = false;
            this.$q.loading.hide();
          } else {
            this.isLoading = false;
            this.$q.loading.hide();
          }
        });
    },
    sendAnswer(index) {
      let newAcademicYear = this.academicYear.replace("/", "-");
      let docName = this.schoolId + "-" + newAcademicYear;
      let newIndex;
      if (index == 1) {
        newIndex = 5;
      } else if (index == 2) {
        newIndex = 4;
      } else if (index == 3) {
        newIndex = 3;
      } else if (index == 4) {
        newIndex = 2;
      } else {
        newIndex = 1;
      }

      let dataAdd = {};
      let questionKey = this.question[this.currentQuestion].key;
      dataAdd.currentQuestion = this.currentQuestion + 1;
      dataAdd[questionKey] = newIndex;

      db.collection("questionnaireScore")
        .doc(docName)
        .collection("score")
        .doc(this.userKey)
        .get()
        .then(doc => {
          if (doc.exists) {
            // กรณีมีข้อมูลแล้ว
            db.collection("questionnaireScore")
              .doc(docName)
              .collection("score")
              .doc(this.userKey)
              .update(dataAdd)
              .then(res => {
                if (this.currentQuestion < this.question.length - 1) {
                  this.currentQuestion++;
                } else {
                  this.isLoading = true;
                  this.$q
                    .dialog({
                      title: "แจ้งเตือน",
                      message: "ขอบคุณสำหรับการทำแบบทดสอบ"
                    })
                    .onOk(() => {
                      this.$router.push("/");
                    });
                }
              });
          } else {
            // กรณียังไม่เคยเซฟข้อมูล
            db.collection("questionnaireScore")
              .doc(docName)
              .collection("score")
              .doc(this.userKey)
              .set(dataAdd)
              .then(res => {
                if (this.currentQuestion < this.question.length - 1) {
                  this.currentQuestion++;
                } else {
                  this.isLoading = true;
                  this.$q
                    .dialog({
                      title: "แจ้งเตือน",
                      message: "ขอบคุณสำหรับการทำแบบทดสอบ"
                    })
                    .onOk(() => {
                      this.$router.push("/");
                    });
                }
              });
          }
        });
    },
    checkVersion() {
      db.collection("version")
        .doc("questionnaire")
        .get()
        .then(doc => {
          if (doc.data().version != this.appVersion) {
            window.location.reload(true);
          }
        });
    }
  },
  mounted() {
    this.loadQuestion();
    this.checkVersion();
  }
};
</script>

<style>
.brx {
  border: 1px solid red;
}
.questionContainer {
  position: relative;
  height: calc(100vh - 200px);
}
</style>